@{
  Layout = "_Layout";
}

@model Favorful.Models.Treat

<h1>ADD TREAT</h1>
<hr/>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br>
    @Html.TextBoxFor(model => model.Name)
    <br>
    <br>
    @Html.LabelFor(model => model.CustomerRating)
    <br>
    @Html.TextBoxFor(model => model.CustomerRating, new {@type="number", @min=1, @max=5})
    <br>
    <br>
    @Html.LabelFor(model => model.Price)
    <br>
    @Html.TextBoxFor(model => model.Price, new {@type="number", @min=1})
    <br>
    <br>
    @Html.LabelFor(model => model.Description)
    <br>
    @Html.TextBoxFor(model => model.Description)
    <br>
    <br>
    @Html.LabelFor(model => model.CurrentStock)
    <br>
    @Html.TextBoxFor(model => model.CurrentStock, new {@type="number", @min=0})
    <br>
    <br>
    <input type="submit" value="Add new Treat" class="btn btn-default" />
}
<br>
<p>@Html.ActionLink("Show all Treats", "Index")</p>